html
  head
    title= title
  body
    nav
      a(href='/login') login
      |  
      a(href='/profile') profile
      |  
      a(href='/logout') logout
      |  
      a(href='/about') about
    section#info_empresa
      article
        p info de la empresa