html
  head
    title= title
  body
    nav
      a(href='/login') login
      |  
      a(href='/profile') profile
      |  
      a(href='/logout') logout
      |  
      a(href='/about') about
    form#login(action='/login', method='POST')
      input(type='text', name='username', placeholder='Usuario')
      | 
      br
      input(type='text', name='password', placeholder='Contraseña')
      |
      br  
      input(type='submit', value='login')
