html
  head
    title= title
  body
    nav
      a(href='/login') login
      |  
      a(href='/profile') profile
      |  
      a(href='/logout') logout
      |  
      a(href='/about') about
    section#profile
      article#info_user
        h2 Perfil de Usuario
        ul
            li
                user= user
